@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #000080;
}

/* headings and theme */

h1,
h2 {
    color: lato, san-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #00806b;
}

#theme {
    float: left;
    font-size: 280%;
}

/*styling navigation links */

#theme-menu {
    font-size: 110;
    letter-spacing: 4px;
}

h2 {
    color: #000080;
}

#theme-menu>li {
    float: right;
    list-style-type: none;
    margin-right: 10px;
    display: inline-block;
}

#theme-menu a {
    text-decoration: none;
    color: inherit;
}

/* mouse over link */
#theme-menu a:hover {
    border-bottom: 1px solid #000080;
}

.active {
    border-bottom: 1px solid #000080;
}

/*background image*/

#barbgout {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#barbg-image {
    height: 600px;
    width: 100%;
    background: url("../images/barbg.jpeg") no-repeat center center/cover;
    margin-top: 2%;

    /* loading page animation zoom effect */
    animation-name: barbg-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* level of zoom for background image */
@keyframes barbg-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#containertxt {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    text-transform: capitalize;
    letter-spacing: 3px;

    width: 400px;
    height: 120px;
    padding-top: 10px;
    padding-left: 40px;
    margin-right: 30%;

    background-color: hsla(247, 65%, 55%, 0.373);
    border-block: solid;
    writing-mode: horizontal-tb;

    bottom: 50px;
    right: 150px;
    position: absolute;
}

/* styling the table for the opening time */

.opening-hours {
    text-align: center;
    color: #000080;
}

.opening-tm {
    margin: auto;
    width: 40%;
    padding: 10px;
    text-align: left;
    line-height: 2em;
    display: table;

    table,
    th,
    td {
        border: none;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid #ddd;

    }

    th,
    td {
        padding: 2px;
    }
}
/* styling the cover text */
.choose {
    margin-bottom: 1%;
}
.barb-d {
    float: left;
    padding: 15px;
    margin-top: 1%;
}

p {
    text-indent: 30px;
}
/*style footer containing the social newtork*/
#socialm {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#socialm i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}
.copyright{
    text-align: justify;
}

/* Gallery page */
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}
