@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
    margin: 0;
    pading: 0;
    border: none;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #000080;
}

 /* headings and theme-menu */

h1, h2 {
    color: lato, san-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#00806b;
}
#theme-menu {
    float: right;
    font-size: 280%;
}

/*styling navigation links */

#theme-menu {
font-size: 110;
letter-spacing: 4px;
}

#theme-menu li {
    float: right;
    list-style-type: none;
    margin-right: 10px;
}
    
#theme-menu a {
    text-decoration: none;
    color: inherit;
}
