@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* Generic project styles */
    color: #000080;
    font-family: lato, sans-serif;
}

/* Header */

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #00806b;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* headings and theme */

h1,
h2 {
    color: lato, san-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #00806b;
}

#theme {
    float: left;
    font-size: 280%;
}

/*styling navigation links */

#theme-menu {
    font-size: 110;
    letter-spacing: 4px;
    list-style-type: none;
}

/*overriding the general text color*/
h2 {
    color: #000080;
}

#theme-menu>li {
    margin-bottom: 1em;
    justify-content: center;
    display: inline;
}

#theme-menu a {
    text-decoration: none;
    color: inherit;
}

/* mouse over link */
#theme-menu a:hover {
    border-bottom: 1px solid #000080;
}

.active {
    border-bottom: 1px solid #000080;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}


/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/*background image*/

#barbgout {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#barbg-image {
    height: 600px;
    width: 100%;
    background: url("../images/barbg.jpeg") no-repeat center center/cover;
    margin-top: auto;

    /* loading page animation zoom effect */
    animation-name: barbg-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

/* level of zoom for background image */
@keyframes barbg-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#containertxt {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    text-transform: capitalize;
    letter-spacing: 3px;
    width: 400px;
    height: 120px;
    padding-top: 20px;
    padding-left: 40px;
    margin-right: 30%;
    border-radius: 25px;
    background-color: rgba(203, 220, 200, 0.5);
    writing-mode: horizontal-tb;
    bottom: 50px;
    right: 150px;
    position: absolute;
}

/* styling the table for the opening time */

.opening-hours {
    text-align: center;
    color: #000080;
}

/*opening time*/
.opening-tm {
    margin-left: 30%;
    width: 30%;
    padding: 10px;
    text-align: left;
    line-height: 2em;
    display: table;
    justify-content: center;

    table,
    th,
    td {
        border: none;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid #ddd;

    }

    th,
    td {
        padding: 2px;
    }
}

/* styling the cover text */
.barb-item {
    margin-bottom: 1%;
}

.barb-d {
    padding: 15px;
    margin-top: 1%;
    text-align: center;
    line-height: 2;
    box-shadow: 1px 1px 20px;
    background-color: rgb(199, 218, 199);
}

/*style footer containing the social newtork*/
#socialm {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#socialm i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

.copyright {
    text-align: justify;
    text-indent: 1%;
}

/* Gallery page */
#photos img {
    width: 100%;
    line-height: 16 px;
}

#photos {
    line-height: 0;
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #theme-menu {
        display: flex;
    }

    #theme-menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
}




